<div class="container">
  <div class="row">
    {{#each notes}}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{description}}</p>
            <p class="card-text"><strong>Nombres:</strong> {{nombres}}</p>
            <p class="card-text"><strong>Apellidos:</strong> {{apellidos}}</p>
            <p class="card-text"><strong>Cédula:</strong> {{cedula}}</p>
            <p class="card-text"><strong>Género:</strong> {{genero}}</p>
            <p class="card-text"><strong>Edad:</strong> {{edad}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a
                  href="/notes/edit/{{_id}}"
                  class="btn btn-sm btn-outline-secondary"
                >
                  Editar
                </a>
                <form
                  action="/notes/delete/{{_id}}?_method=DELETE"
                  method="post"
                >
                  <input type="hidden" name="_method" value="DELETE" />
                  <button
                    type="submit"
                    class="btn btn-sm btn-outline-danger ml-2"
                  >
                    Eliminar
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>